[Unit]
Description=Laravel Scheduler

[Timer]
OnActiveSec=0
AccuracySec=1
OnUnitInactiveSec=60
RandomizedDelaySec=10

[Install]
WantedBy=timers.target
